@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sora';
  src: local('Sora'), url('./fonts/Sora-Regular.ttf') format('truetype') 
}

@font-face {
  font-family: 'SourceCodePro';
  src: local('Sora'), url('./fonts/SourceCodePro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceCodePro';
  src: local('Sora'), url('./fonts/SourceCodePro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceCodePro';
  src: local('Sora'), url('./fonts/SourceCodePro-SemiBold.ttf') format('truetype');
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  font-family: 'Sora', sans-serif;     
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  ;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sora', sans-serif; 
}
h1 {
  font-size: 3.75rem;
}
h2 {
  font-size: 3rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}

.colaboration_list li p:first-child:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('/src/images/Check_icon.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}
a, button {
  font-family: 'SourceCodePro-SemiBold', sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

header {
  border-bottom: 1px solid #26242b;
  position: absolute;
}

.menu li a[aria-current="page"] {
  color: #FFFFFF;
  position: relative;
}

.menu li a[aria-current="page"]:before {
  content: '';
  background-color: #26242b;
  width: 1px;
  height: 16px;
  position: absolute; 
  bottom: -30px;
  left: 0px;
}

.menu li a[aria-current="page"]:after {
  content: '';
  background-color: #26242b;
  width: 1px;
  height: 16px;
  position: absolute;
  bottom: -30px;
  right: 0px; 
}

.feature-text p {
  color: #ADA8C3;
}

.ReactModal__Content {
  width: 800px;
  height: 600px;
  z-index: 100;
  left: calc(50% - 400px) !important;
  top: calc(50% - 300px) !important;
  background-color: #0E0C15 !important;
  padding-top: 50px !important; 
}

.ReactModal__Content input,textarea {
  background-color: #0E0C15 !important;
}

.ReactModal__Content textarea {
  min-height: 250px;
}

.ReactModal__Overlay {
  z-index: 10; 
}

.ReactModal__Overlay label {
  color: white;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(255, 255, 255, 0.3)!important; 
}

.close_form {
  position: absolute;
  top: 20px;
  right: 20px;
}

.submit_button_form {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.accordion {
  background: transparent;
}

.accordion__button {
  background-color: transparent;
  color: white;
  position: relative;
}

.accordion__button:before {
  position: absolute;
  right: 0;
  top: calc(50% - 7px);
  content: '';
  transform: translateY(-50%);
  width: 16px;
  height: 2px;
  background-image: url('/src/images/minus.svg'); 
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  top: calc(50% - 0px);
  border: none;
}

.accordion__button[aria-expanded='true']::before, .accordion__button[aria-selected='true']::before {
  transform: translateY(-50%);
  height: 16px;
  background-image: url('/src/images/plus_01.svg'); 
  right: 0;
}

.accordion__button:hover {
  background-color: transparent;
}

.codepro-reg {
  font-family: 'SourceCodePro-Regular', sans-serif; 
}
.testimonials {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(14, 12, 21, 1);
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  opacity: 1;
}

.slider-cards .swiper-pagination {
  position: absolute;
  bottom: 0;
  position: absolute;
  bottom: 0;
  column-gap: 20px;
  display: flex;
  margin-bottom: -50px;
}

.swiper-pagination-bullet {
  /* width: 10px !important;
  height: 10px !important; */

  padding: 14px;
}
.swiper-pagination-bullet {
  position: relative;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active:before {

  background-image: url('/src/images/circle.svg'); 
  position: absolute;
  top: calc(50% - 7px);
  content: '';
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  right: calc(50% - 12px);
  top: calc(50% - 0px);

}

.swiper-pagination-bullet:after {

  background-image: url('/src/images/white_dot.png'); 
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  background-repeat: no-repeat;
  right: calc(50% - 3px);
  top: calc(50% - 3px); 

}

.testimonials_bottom {
  background-color: #15131D;
}

.gradient-pre-footer {
  position: absolute;
    height: auto;
    width: fit-content;
    top: calc(50% - 372px);
    left: calc(50% - 372px);
}

.border-span {
  position: relative;
  display: inline-block;
}
.border-span svg {
  position: absolute;
  top: 0;
  left: 0;
}

.bt--5 {
  bottom: -5px;
}


.left--5 {
  left: -5px;
}

.right--5 {
  right: -5px;
}

.right-15 {
  right: 15px;
}

.top--5 {
  top: -5px;
}

.top-20 {
  top: 20px;
}

.top-5 {
  top: 5px;
}

.w-1920 {
  max-width: 1920px;
  margin: auto;
}

.w-1440 {
  max-width: 1440px;
  margin: auto;
}

.slider-section .swiper { 
  overflow: initial;
}

.slider-section .swiper .swiper-slide {
  max-width: 384px;
  height: 366px;
  position: relative;
  clip-path: polygon(85% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
    padding: 2px;
}


.slide_card {
  clip-path: polygon(85% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
  background-color: #0E0C15;
}

.slide_card:hover .hidden {
  display: block; 
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
}



.slide_card:hover p {
  color: white;
}
.border-bt {
  border-bottom: 1px solid #26242b;
}
.roadmap-span {
  background-color: #0E0C15; 
}
.roadmap-span-wrapp:after {
  content: '';
    width: 50%;
    height: 1px;
    background-color: #252134;
    position: absolute;
    top: 50%;
    right: -15px;
}

.border-vert {
  border-left: 1px solid #26242b;
  border-right: 1px solid #26242b;
}

.slider-section-second article {
  width: 553px;
  height: 576px;
  border: 1px solid rgba(244, 244, 244, 0.17);
}

.slider-section-second article img{
  max-width: 512px;
  max-height: 512px;
  left: -64px;
  bottom: -64px;
}

.slider-section .swiper .swiper-slide:before {
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(180deg, #9099FC 0%, #D87CEE 100%);
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #000; /* Колір вашого вибору */
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer; 
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.unlock-card {
  border-top: 2px solid rgba(217, 217, 217, 0.1);
  ;
}

.unlock-card:hover {
  border-top: 2px solid #D9D9D9;

}

.footer_icon svg:hover .path_icon path {
  fill: #AC6AFF;
} 

.unlock-card:hover:after {
  content: '';
  background-color: #AC6AFF;
  width: 60%;
  height: 2px;
  position: absolute;
  top: -2px;
  left: 0;
}

.gradient-pre-footer_2 {
  mask-type: luminance;
  mask-image: radial-gradient(circle at center, white -70%, transparent 70%);
  position: absolute;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  top: calc(50% - 300px);
  left: calc(50% - 300px);
}

.banner_bg {
  mask-type: luminance;
  mask-image: radial-gradient(circle at center, white -15%, transparent 65%);
  position: absolute;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  top: calc(55% - 456px);
  left: calc(50% - 456px);
}

.banner_bg_2 {
  position: absolute;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  top: calc(50% - 624px);
  left: calc(50% - 624px);
}

.bg_slider {
  mask-type: luminance;
  mask-image: radial-gradient(circle at center, white 25%, transparent 76%);
  position: absolute;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  top: calc(50% - 121px);
  left: calc(24% - 121px);
  z-index: 10;
}

.bg_slider_2 {
  mask-type: luminance;
  mask-image: radial-gradient(circle at center, white 25%, transparent 76%);
  position: absolute;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  top: calc(50% - 121px);
  right: calc(0% - 121px);
  z-index: 10;
}

.bg_testimonials {
  mask-type: luminance;
  mask-image: radial-gradient(circle at center, white 25%, transparent 76%);
  position: absolute;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  top: calc(0% - 121px);
  left: calc(0% - 121px);
  z-index: 10;
}

.bg-color {
  background-color: #0E0C15;
}
.banner-wrapp {
  max-width: 1248px;
  margin: auto;
}
.margin-a { 
  margin: auto;
}

.border-gradient-cut {
  position: relative;
  overflow: hidden;
  clip-path: polygon(85% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
  padding: 2px;
}

.border-gradient-cut:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(180deg, #9099FC 0%, #D87CEE 100%);
}

.border-gradient-cut-none-border {
  position: relative;
  overflow: hidden;
  clip-path: polygon(85% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
  padding: 2px;
}

.border-gradient-content-cut button {
  clip-path: polygon(85% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
}

.border-gradient {
  padding: 2px;
  background: linear-gradient(180deg, #9099FC 0%, #D87CEE 100%);
}

.bgHorLine {
  background-color: #26242b;   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu a:hover {
  color: white;
}

svg {
  display: flex;
  align-items: center;
}
.tabs {
  border: none;
  background-color: transparent;
}

.unlock-card:hover p:last-child {
  visibility: visible;
}















.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 16px; 
  cursor: pointer;
}